*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --primary_color:#77176e;
    --secondary_color: black;
}

.overallhome{
    min-height: 100vh;
    width: 100%;
    /* background-color: lightcoral; */
}

.homehanding{
    text-align: center;
    padding: 10px 20px;
    font-size: 30px;
}

.homecontent{
    width: 100%;
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
    gap: 30px;
    padding: 20px;
}

.homebox{
    height: 280px;
    width: 400px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 10px;
    color: white;
}

.homebox1{
    background-color: rgb(178, 145, 12);
     /* background-color: var(--primary_color); */
}


.homebox3{
    color: white;
    background-color: teal;
    /* background-color: var(--primary_color); */
    

}
.homebox2{
    background-color: maroon;
     /* background-color: var(--primary_color); */
    color: white;
    
}

.homebox4{
    background-color: forestgreen;
     /* background-color: var(--primary_color); */
  
}


.homebox p{
    font-size: 25px;
    font-weight: 600;
}

.homeboxtitle{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
    gap: 30px;
}

.homeboxtitle a{
    font-size: 34px;
    font-weight: 700;
}

.homeboxtitle span{
    font-size: 50px;
    font-weight: 600;
}

.homebox button{
    width: 70%;
    padding: 10px;
    border: none;
    /* background-color: orangered; */
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    /* font-weight: 600; */
}

.homebox button:hover{
    background-color: white;
    color: black;
}

@media screen and (min-width:600px) and (max-width:900px) {
   .homebox{
    width: 300px;
    padding: 10px;
   } 
}

@media screen and (min-width:370px) and (max-width:650px) {
    .homebox{
        width: 350px;
        padding: 10px;
    }
    .homecontent{
        grid-template-columns: auto;
    }
}

@media screen and (min-width:300px) and (max-width:370px) {
    .homebox{
        width: 300px;
        padding: 10px;
    }
    .homecontent{
        grid-template-columns: auto;
    }
}