*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --primary_color:#77176e;
    --secondary_color: black;
}

.overallclass{
    min-height: 100vh;
    width: 100%;
    /* background-color: lightcoral; */
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.overallclass h1{
    font-size: 40px;
    color: var(--primary_color);
}
.overallclass h2{
    font-size: 25px;
}
.overallclass h3{
    font-size: 25px;
}

.overallclass ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.overallclass button{
    width: 60%;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
    background-color: var(--primary_color);
    color: white;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.7) ;
}

.overallclass ul button:hover{
    scale: 1.05;
}